body {
  background-color: #383838;
  margin: 0vw;
}

h1, h2, h3 {
  color: #b1b6bd;
  margin:2vw;
  font-family: "Roboto";
}

a#go {
  background-color: #18191c;
}

a#go:hover, a#bookmarks:hover {
  background-color: #27292e;
}

li a, .dropbtn {
  display: inline-block;
  color: #b1b6bd;
  text-align: center;
  padding: 0.6vh 2vw;
  text-decoration: none;
  cursor: pointer;
}

input[type=text], ::placeholder {
  width:50vw;
  background-color: #18191c;
  border: 0;
  color: #b1b6bd;
  padding: 0.9vh 1vw;
  outline: none;
}

a#bookmarks {
  background-color: #18191c;
  color: #b1b6bd;
}

@font-face {
  font-family: "Roboto";
  src: url(Roboto-Regular.ttf) format("truetype");
}

.dropdown-content {
  display: none;
  position: absolute;
  /* transform: translateY(-3%); */
  background-color: #202225;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #31353b;
  border-radius: 20px;
}

.dropdown-content a {
  color: #b1b6bd;
  padding: 0.6vh 2vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  align: center;
  display:table;
  margin: 0 auto;
}

li {
  float: left;
}

.dropdown-content a:hover {
  background-color: #31353b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#top {
  padding-top: 0.8vh;
}

#bottom {
  padding-bottom: 1vh;
}

::placeholder {
  padding: 0;
}

.menu {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.menu, .dropdown-content {
  border-radius: 15px;
}

#bookmarks {
  margin-bottom: 0vh;
}

#info {
  position: relative;
  margin-top: 30vh;
}

h1 {
  font-size: 60px;
}

h1#title, h3 {
  text-align: center;
}

iframe {
  height: 93.9vh;
  width: 100vw;
  background-color: #fff;
}
